In [4]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('Basic Operation').getOrCreate()

In [10]:
input_file_path="file:///C:/Users/ckp43_000/Documents/AAPL.csv"

In [11]:
df=spark.read.csv(input_file_path,inferSchema=True,header=True)

In [13]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Adj Close: double (nullable = true)
 |-- Volume: integer (nullable = true)

In [15]:
df.show(10)

+----------+----------+----------+----------+----------+----------+---------+
|      Date|      Open|      High|       Low|     Close| Adj Close|   Volume|
+----------+----------+----------+----------+----------+----------+---------+
|2014-09-29|100.589996|100.690002| 98.040001| 99.620003|  93.51429|142718700|
|2014-10-06| 99.949997|102.379997| 98.309998|100.730003| 94.556244|280258200|
|2014-10-13|101.330002|101.779999|     95.18| 97.669998| 91.683792|358539800|
|2014-10-20|     98.32|105.489998| 98.220001|105.220001| 98.771042|358532900|
|2014-10-27|104.849998|108.040001|104.699997|     108.0|101.380676|220230600|
|2014-11-03|108.220001|110.300003|107.720001|109.010002|102.328766|199952900|
|2014-11-10|109.019997|114.190002|108.400002|    114.18|107.646675|205166700|
|2014-11-17|114.269997|    117.57|113.300003|116.470001|109.805626|233414700|
|2014-11-24|116.849998|    119.75|116.620003|    118.93|112.124863|181873900|
|2014-12-01|118.809998|    119.25|111.269997|     115.0|108.419746|266589700|
+----------+----------+----------+----------+----------+----------+---------+
only showing top 10 rows

## To get a better view in data frame use head()[]

In [17]:
df.head(3)

[Row(Date='2014-09-29', Open=100.589996, High=100.690002, Low=98.040001, Close=99.620003, Adj Close=93.51429, Volume=142718700),
 Row(Date='2014-10-06', Open=99.949997, High=102.379997, Low=98.309998, Close=100.730003, Adj Close=94.556244, Volume=280258200),
 Row(Date='2014-10-13', Open=101.330002, High=101.779999, Low=95.18, Close=97.669998, Adj Close=91.683792, Volume=358539800)]

In [18]:
type(df.head(3))

list

In [ ]:
## since it's a list type we can do indexing like list

In [20]:
df.head(3)[0]

Row(Date='2014-09-29', Open=100.589996, High=100.690002, Low=98.040001, Close=99.620003, Adj Close=93.51429, Volume=142718700)

## executing Data Frame query like sql

In [22]:
df.filter("close<500").show()

+----------+----------+----------+----------+----------+----------+---------+
|      Date|      Open|      High|       Low|     Close| Adj Close|   Volume|
+----------+----------+----------+----------+----------+----------+---------+
|2014-09-29|100.589996|100.690002| 98.040001| 99.620003|  93.51429|142718700|
|2014-10-06| 99.949997|102.379997| 98.309998|100.730003| 94.556244|280258200|
|2014-10-13|101.330002|101.779999|     95.18| 97.669998| 91.683792|358539800|
|2014-10-20|     98.32|105.489998| 98.220001|105.220001| 98.771042|358532900|
|2014-10-27|104.849998|108.040001|104.699997|     108.0|101.380676|220230600|
|2014-11-03|108.220001|110.300003|107.720001|109.010002|102.328766|199952900|
|2014-11-10|109.019997|114.190002|108.400002|    114.18|107.646675|205166700|
|2014-11-17|114.269997|    117.57|113.300003|116.470001|109.805626|233414700|
|2014-11-24|116.849998|    119.75|116.620003|    118.93|112.124863|181873900|
|2014-12-01|118.809998|    119.25|111.269997|     115.0|108.419746|266589700|
|2014-12-08|114.099998|114.849998|109.349998|109.730003|103.451294|259868000|
|2014-12-15|110.699997|113.239998|106.260002|111.779999| 105.38398|328856600|
|2014-12-22|112.160004|114.519997|111.970001|113.989998|107.467529|119396500|
|2014-12-29|113.790001|114.769997|107.349998|109.330002|103.074181|152088400|
|2015-01-05|108.290001|    113.25|104.629997|112.010002| 105.60083|283252500|
|2015-01-12|112.599998|112.800003|105.199997|105.989998| 99.925285|303607000|
|2015-01-19|107.839996|    113.75|     106.5|112.980003|106.515343|198737000|
|2015-01-26|113.739998|     120.0|109.029999|117.160004|110.456146|465842700|
|2015-02-02|118.050003|120.510002|116.080002|    118.93|112.124863|270757300|
|2015-02-09|118.550003|127.480003|    118.43|127.080002|120.281372|303206800|
+----------+----------+----------+----------+----------+----------+---------+
only showing top 20 rows

In [23]:
df.filter("close<500").select('Date','High','close').show()

+----------+----------+----------+
|      Date|      High|     close|
+----------+----------+----------+
|2014-09-29|100.690002| 99.620003|
|2014-10-06|102.379997|100.730003|
|2014-10-13|101.779999| 97.669998|
|2014-10-20|105.489998|105.220001|
|2014-10-27|108.040001|     108.0|
|2014-11-03|110.300003|109.010002|
|2014-11-10|114.190002|    114.18|
|2014-11-17|    117.57|116.470001|
|2014-11-24|    119.75|    118.93|
|2014-12-01|    119.25|     115.0|
|2014-12-08|114.849998|109.730003|
|2014-12-15|113.239998|111.779999|
|2014-12-22|114.519997|113.989998|
|2014-12-29|114.769997|109.330002|
|2015-01-05|    113.25|112.010002|
|2015-01-12|112.800003|105.989998|
|2015-01-19|    113.75|112.980003|
|2015-01-26|     120.0|117.160004|
|2015-02-02|120.510002|    118.93|
|2015-02-09|127.480003|127.080002|
+----------+----------+----------+
only showing top 20 rows

## same result from below query

In [27]:
df.filter(df['close']<500).select('Date','High','Close').show()

+----------+----------+----------+
|      Date|      High|     Close|
+----------+----------+----------+
|2014-09-29|100.690002| 99.620003|
|2014-10-06|102.379997|100.730003|
|2014-10-13|101.779999| 97.669998|
|2014-10-20|105.489998|105.220001|
|2014-10-27|108.040001|     108.0|
|2014-11-03|110.300003|109.010002|
|2014-11-10|114.190002|    114.18|
|2014-11-17|    117.57|116.470001|
|2014-11-24|    119.75|    118.93|
|2014-12-01|    119.25|     115.0|
|2014-12-08|114.849998|109.730003|
|2014-12-15|113.239998|111.779999|
|2014-12-22|114.519997|113.989998|
|2014-12-29|114.769997|109.330002|
|2015-01-05|    113.25|112.010002|
|2015-01-12|112.800003|105.989998|
|2015-01-19|    113.75|112.980003|
|2015-01-26|     120.0|117.160004|
|2015-02-02|120.510002|    118.93|
|2015-02-09|127.480003|127.080002|
+----------+----------+----------+
only showing top 20 rows

## Filtering on more than one column

In [30]:
df.filter((df['close']<500) & (df['close']<100)).show(20)

+----------+----------+----------+---------+---------+---------+---------+
|      Date|      Open|      High|      Low|    Close|Adj Close|   Volume|
+----------+----------+----------+---------+---------+---------+---------+
|2014-09-29|100.589996|100.690002|98.040001|99.620003| 93.51429|142718700|
|2014-10-13|101.330002|101.779999|    95.18|97.669998|91.683792|358539800|
|2016-01-04|102.610001|105.849998|    96.43|96.959999| 92.96949|343790200|
|2016-01-11| 98.970001|101.190002|95.360001|97.129997|93.132492|303513300|
|2016-01-25|101.519997|101.529999|92.389999|97.339996|93.333847|380336500|
|2016-02-01| 96.470001| 97.330002|93.690002|94.019997|90.150482|217154800|
|2016-02-08| 93.129997| 96.349998|92.589996|93.989998|90.610756|231122300|
|2016-02-15| 95.019997| 98.889999|94.610001|96.040001|92.587051|168316300|
|2016-02-22| 96.309998| 98.019997|    93.32|96.910004|93.425774|159052900|
|2016-04-25|     105.0|105.650002|92.510002|93.739998|90.369751|349424100|
|2016-05-02| 93.970001| 95.900002|91.849998|92.720001|89.386421|225365600|
|2016-05-09|      93.0| 93.769997|89.470001|90.519997|87.796822|216049800|
|2016-05-16| 92.389999|     95.43|91.650002|95.220001|92.355438|212707200|
|2016-05-30| 99.599998|100.400002|96.629997|97.919998| 94.97419|139735000|
|2016-06-06| 97.989998|101.889999|97.550003|98.830002|95.856812|124864400|
|2016-06-13| 98.690002| 99.120003|95.300003|95.330002|92.462112|191732600|
|2016-06-20|      96.0| 96.889999|92.650002|93.400002|90.590179|206729000|
|2016-06-27|      93.0| 96.470001|     91.5|95.889999|93.005264|184328400|
|2016-07-04| 95.389999| 96.889999|94.370003|    96.68|93.771507|112706000|
|2016-07-11|     96.75| 99.300003|96.730003|98.779999|95.808327|142910600|
+----------+----------+----------+---------+---------+---------+---------+
only showing top 20 rows

## use of collect

In [34]:
df.filter(df['Low']==93.32).collect()

[Row(Date='2016-02-22', Open=96.309998, High=98.019997, Low=93.32, Close=96.910004, Adj Close=93.425774, Volume=159052900)]

In [35]:
type(df.filter(df['Low']==93.32).collect())

list

In [36]:
result=df.filter(df['Low']==93.32).collect()

In [38]:
result

[Row(Date='2016-02-22', Open=96.309998, High=98.019997, Low=93.32, Close=96.910004, Adj Close=93.425774, Volume=159052900)]

In [39]:
 result.show(10)

AttributeError: 'list' object has no attribute 'show'

In [40]:
result[0]

Row(Date='2016-02-22', Open=96.309998, High=98.019997, Low=93.32, Close=96.910004, Adj Close=93.425774, Volume=159052900)

In [43]:
row=result[0]

In [46]:
row.count

In [47]:
row.index

In [49]:
row.asDict()

{'Date': '2016-02-22',
 'Open': 96.309998,
 'High': 98.019997,
 'Low': 93.32,
 'Close': 96.910004,
 'Adj Close': 93.425774,
 'Volume': 159052900}

In [51]:
row.asDict()['Volume']

159052900

In [53]:
type(row.asDict())

dict

In [54]:
df

DataFrame[Date: string, Open: double, High: double, Low: double, Close: double, Adj Close: double, Volume: int]

In [55]:
df.show(5)

+----------+----------+----------+----------+----------+----------+---------+
|      Date|      Open|      High|       Low|     Close| Adj Close|   Volume|
+----------+----------+----------+----------+----------+----------+---------+
|2014-09-29|100.589996|100.690002| 98.040001| 99.620003|  93.51429|142718700|
|2014-10-06| 99.949997|102.379997| 98.309998|100.730003| 94.556244|280258200|
|2014-10-13|101.330002|101.779999|     95.18| 97.669998| 91.683792|358539800|
|2014-10-20|     98.32|105.489998| 98.220001|105.220001| 98.771042|358532900|
|2014-10-27|104.849998|108.040001|104.699997|     108.0|101.380676|220230600|
+----------+----------+----------+----------+----------+----------+---------+
only showing top 5 rows