In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Dates').getOrCreate()

In [3]:
spark

In [3]:
input_file_path=

In [4]:
df=spark.read.csv(input_file_path,inferSchema=True,header=True)

In [6]:
(df.head(1))

[Row(Date='2014-09-29', Open=100.589996, High=100.690002, Low=98.040001, Close=99.620003, Adj Close=93.51429, Volume=142718700)]

In [16]:
df.show(10)

+----------+----------+----------+----------+----------+----------+---------+
|      Date|      Open|      High|       Low|     Close| Adj Close|   Volume|
+----------+----------+----------+----------+----------+----------+---------+
|2014-09-29|100.589996|100.690002| 98.040001| 99.620003|  93.51429|142718700|
|2014-10-06| 99.949997|102.379997| 98.309998|100.730003| 94.556244|280258200|
|2014-10-13|101.330002|101.779999|     95.18| 97.669998| 91.683792|358539800|
|2014-10-20|     98.32|105.489998| 98.220001|105.220001| 98.771042|358532900|
|2014-10-27|104.849998|108.040001|104.699997|     108.0|101.380676|220230600|
|2014-11-03|108.220001|110.300003|107.720001|109.010002|102.328766|199952900|
|2014-11-10|109.019997|114.190002|108.400002|    114.18|107.646675|205166700|
|2014-11-17|114.269997|    117.57|113.300003|116.470001|109.805626|233414700|
|2014-11-24|116.849998|    119.75|116.620003|    118.93|112.124863|181873900|
|2014-12-01|118.809998|    119.25|111.269997|     115.0|108.419746|266589700|
+----------+----------+----------+----------+----------+----------+---------+
only showing top 10 rows

In [18]:
df.select(['Date','Open']).show(5)

+----------+----------+
|      Date|      Open|
+----------+----------+
|2014-09-29|100.589996|
|2014-10-06| 99.949997|
|2014-10-13|101.330002|
|2014-10-20|     98.32|
|2014-10-27|104.849998|
+----------+----------+
only showing top 5 rows

In [9]:
from pyspark.sql.functions import (dayofmonth,
                                   dayofyear,
                                   month,
                                   year,
                                   hour,
                                  weekofyear,
                                  format_number,
                                  date_format)

In [24]:
df.select(month(df['Date'])).show(5)

+-----------+
|month(Date)|
+-----------+
|          9|
|         10|
|         10|
|         10|
|         10|
+-----------+
only showing top 5 rows

In [25]:
df.select(year(df['Date'])).show(10)

+----------+
|year(Date)|
+----------+
|      2014|
|      2014|
|      2014|
|      2014|
|      2014|
+----------+
only showing top 5 rows

In [27]:
df.select(hour(df['Date'])).show(5)

+----------+
|hour(Date)|
+----------+
|         0|
|         0|
|         0|
|         0|
|         0|
+----------+
only showing top 5 rows

In [10]:
df.withColumn('year',year(df['Date'])).show(5)

+----------+----------+----------+----------+----------+----------+---------+----+
|      Date|      Open|      High|       Low|     Close| Adj Close|   Volume|year|
+----------+----------+----------+----------+----------+----------+---------+----+
|2014-09-29|100.589996|100.690002| 98.040001| 99.620003|  93.51429|142718700|2014|
|2014-10-06| 99.949997|102.379997| 98.309998|100.730003| 94.556244|280258200|2014|
|2014-10-13|101.330002|101.779999|     95.18| 97.669998| 91.683792|358539800|2014|
|2014-10-20|     98.32|105.489998| 98.220001|105.220001| 98.771042|358532900|2014|
|2014-10-27|104.849998|108.040001|104.699997|     108.0|101.380676|220230600|2014|
+----------+----------+----------+----------+----------+----------+---------+----+
only showing top 5 rows

In [11]:
newdf=df.withColumn('year',year(df['Date']))

In [12]:
newdf.show(5)

+----------+----------+----------+----------+----------+----------+---------+----+
|      Date|      Open|      High|       Low|     Close| Adj Close|   Volume|year|
+----------+----------+----------+----------+----------+----------+---------+----+
|2014-09-29|100.589996|100.690002| 98.040001| 99.620003|  93.51429|142718700|2014|
|2014-10-06| 99.949997|102.379997| 98.309998|100.730003| 94.556244|280258200|2014|
|2014-10-13|101.330002|101.779999|     95.18| 97.669998| 91.683792|358539800|2014|
|2014-10-20|     98.32|105.489998| 98.220001|105.220001| 98.771042|358532900|2014|
|2014-10-27|104.849998|108.040001|104.699997|     108.0|101.380676|220230600|2014|
+----------+----------+----------+----------+----------+----------+---------+----+
only showing top 5 rows

In [13]:
newdf.groupBy('year').mean().show()

+----+------------------+------------------+------------------+------------------+------------------+--------------------+---------+
|year|         avg(Open)|         avg(High)|          avg(Low)|        avg(Close)|    avg(Adj Close)|         avg(Volume)|avg(year)|
+----+------------------+------------------+------------------+------------------+------------------+--------------------+---------+
|2014|108.78285600000001|        111.201428|106.19214299999999|109.26142928571427|102.82919314285714| 2.362491142857143E8|   2014.0|
|2015|120.08519211538461|122.94884678846155|116.61307680769227|119.95576888461537|114.07129642307692| 2.501912096153846E8|   2015.0|
|2016|104.27115398076923| 106.7555771730769|102.01403884615381|104.49788426923075|101.42530011538464| 1.861644846153846E8|   2016.0|
|2017|149.64134611538464|152.65788515384608|147.60980874999998|150.57750011538465|148.90949628846153|1.3096222307692307E8|   2017.0|
|2018|171.75464521428572|176.09071457142858|167.68714249999996|171.54357157142854|171.24802842857142|1.6707625035714287E8|   2018.0|
+----+------------------+------------------+------------------+------------------+------------------+--------------------+---------+

In [18]:
newdf.groupBy('year').mean().select(['year','avg(Close)']).show()

+----+------------------+
|year|        avg(Close)|
+----+------------------+
|2014|109.26142928571427|
|2015|119.95576888461537|
|2016|104.49788426923075|
|2017|150.57750011538465|
|2018|171.54357157142854|
+----+------------------+

In [19]:
result=newdf.groupBy('year').mean().select(['year','avg(close)'])

In [20]:
result.show()

+----+------------------+
|year|        avg(close)|
+----+------------------+
|2014|109.26142928571427|
|2015|119.95576888461537|
|2016|104.49788426923075|
|2017|150.57750011538465|
|2018|171.54357157142854|
+----+------------------+

In [21]:
result.withColumnRenamed('avg(close)','avg closing price').show()

+----+------------------+
|year| avg closing price|
+----+------------------+
|2014|109.26142928571427|
|2015|119.95576888461537|
|2016|104.49788426923075|
|2017|150.57750011538465|
|2018|171.54357157142854|
+----+------------------+

In [22]:
new_result=result.withColumnRenamed('avg(close)','avg closing price')

In [24]:
new_result.show()

+----+------------------+
|year| avg closing price|
+----+------------------+
|2014|109.26142928571427|
|2015|119.95576888461537|
|2016|104.49788426923075|
|2017|150.57750011538465|
|2018|171.54357157142854|
+----+------------------+

In [26]:
new_result.select('year',format_number('avg closing price',2)).show()

+----+-----------------------------------+
|year|format_number(avg closing price, 2)|
+----+-----------------------------------+
|2014|                             109.26|
|2015|                             119.96|
|2016|                             104.50|
|2017|                             150.58|
|2018|                             171.54|
+----+-----------------------------------+

In [27]:
new_result.select('year',format_number('avg closing price',2).alias('avg close')).show()

+----+---------+
|year|avg close|
+----+---------+
|2014|   109.26|
|2015|   119.96|
|2016|   104.50|
|2017|   150.58|
|2018|   171.54|
+----+---------+

In [39]:
newdf.groupBy('year').count().show()

+----+-----+
|year|count|
+----+-----+
|2014|   14|
|2015|   52|
|2016|   52|
|2017|   52|
|2018|   14|
+----+-----+