In [57]:
from pyspark.sql import SparkSession

In [58]:
spark=SparkSession.builder.appName("Aggregate_functions").getOrCreate()

In [59]:
spark

In [52]:
input_file_path="file:///C:/Users/ckp43_000/Documents/full_data.csv"

In [53]:
df=spark.read.csv(input_file_path,inferSchema=True,header=True)

In [7]:
df.printSchema()

root
 |-- date: string (nullable = true)
 |-- location: string (nullable = true)
 |-- new_cases: integer (nullable = true)
 |-- new_deaths: integer (nullable = true)
 |-- total_cases: integer (nullable = true)
 |-- total_deaths: integer (nullable = true)

In [8]:
df.show(10)

+----------+-----------+---------+----------+-----------+------------+
|      date|   location|new_cases|new_deaths|total_cases|total_deaths|
+----------+-----------+---------+----------+-----------+------------+
|2019-12-31|Afghanistan|        0|         0|          0|           0|
|2020-01-01|Afghanistan|        0|         0|          0|           0|
|2020-01-02|Afghanistan|        0|         0|          0|           0|
|2020-01-03|Afghanistan|        0|         0|          0|           0|
|2020-01-04|Afghanistan|        0|         0|          0|           0|
|2020-01-05|Afghanistan|        0|         0|          0|           0|
|2020-01-06|Afghanistan|        0|         0|          0|           0|
|2020-01-07|Afghanistan|        0|         0|          0|           0|
|2020-01-08|Afghanistan|        0|         0|          0|           0|
|2020-01-09|Afghanistan|        0|         0|          0|           0|
+----------+-----------+---------+----------+-----------+------------+
only showing top 10 rows

In [14]:
df.groupBy('location')  # its an object located at given address in memory

In [17]:
df.count()

13329

In [21]:
df.groupBy('location').mean().show(10)

+-------------------+------------------+-------------------+------------------+------------------+
|           location|    avg(new_cases)|    avg(new_deaths)|  avg(total_cases)| avg(total_deaths)|
+-------------------+------------------+-------------------+------------------+------------------+
|        Afghanistan|13.546296296296296| 0.4351851851851852|173.03703703703704| 5.342592592592593|
|            Albania| 14.53061224489796| 0.5510204081632653|288.16326530612247|13.775510204081632|
|            Algeria|  28.8141592920354| 3.7079646017699117|494.46902654867256| 64.64601769911505|
|            Andorra| 16.65909090909091| 0.9090909090909091|414.20454545454544|17.022727272727273|
|             Angola|0.6944444444444444|0.05555555555555555| 14.11111111111111|1.5555555555555556|
|           Anguilla|0.0967741935483871|                0.0| 2.774193548387097|               0.0|
|Antigua and Barbuda| 0.631578947368421|0.07894736842105263|14.342105263157896|1.0526315789473684|
|          Argentina| 73.86274509803921|  3.627450980392157|1279.1568627450981| 52.19607843137255|
|            Armenia| 16.01834862385321|0.25688073394495414| 293.6788990825688|3.6605504587155964|
|              Aruba| 2.857142857142857|0.05714285714285714| 67.91428571428571|0.5714285714285714|
+-------------------+------------------+-------------------+------------------+------------------+
only showing top 10 rows

In [23]:
df.groupBy('location').max().show(10)

+-------------------+--------------+---------------+----------------+-----------------+
|           location|max(new_cases)|max(new_deaths)|max(total_cases)|max(total_deaths)|
+-------------------+--------------+---------------+----------------+-----------------+
|        Afghanistan|           112|              4|            1463|               47|
|            Albania|            34|              3|             712|               27|
|            Algeria|           185|             42|            3256|              419|
|            Andorra|            43|              4|             733|               40|
|             Angola|             5|              2|              25|                2|
|           Anguilla|             2|              0|               3|                0|
|Antigua and Barbuda|             6|              2|              24|                3|
|          Argentina|           344|             18|            3767|              185|
|            Armenia|            92|              3|            1746|               28|
|              Aruba|            22|              1|             100|                2|
+-------------------+--------------+---------------+----------------+-----------------+
only showing top 10 rows

In [25]:
df.groupBy('location').count().show() #showing number of rows

+-------------------+-----+
|           location|count|
+-------------------+-----+
|        Afghanistan|  108|
|            Albania|   49|
|            Algeria|  113|
|            Andorra|   44|
|             Angola|   36|
|           Anguilla|   31|
|Antigua and Barbuda|   38|
|          Argentina|   51|
|            Armenia|  109|
|              Aruba|   35|
|          Australia|  118|
|            Austria|  118|
|         Azerbaijan|  111|
|            Bahamas|   40|
|            Bahrain|  117|
|         Bangladesh|   43|
|           Barbados|   40|
|            Belarus|  110|
|            Belgium|  118|
|             Belize|   34|
+-------------------+-----+
only showing top 20 rows

In [26]:
df.groupBy('location').min().show()

+-------------------+--------------+---------------+----------------+-----------------+
|           location|min(new_cases)|min(new_deaths)|min(total_cases)|min(total_deaths)|
+-------------------+--------------+---------------+----------------+-----------------+
|        Afghanistan|             0|              0|               0|                0|
|            Albania|             0|              0|               2|                0|
|            Algeria|             0|              0|               0|                0|
|            Andorra|             0|              0|               1|                0|
|             Angola|             0|              0|               2|                0|
|           Anguilla|             0|              0|               2|                0|
|Antigua and Barbuda|             0|              0|               1|                0|
|          Argentina|             0|              0|               1|                0|
|            Armenia|             0|              0|               0|                0|
|              Aruba|             0|              0|               2|                0|
|          Australia|             0|              0|               0|                0|
|            Austria|             0|              0|               0|                0|
|         Azerbaijan|             0|              0|               0|                0|
|            Bahamas|             0|              0|               1|                0|
|            Bahrain|             0|              0|               0|                0|
|         Bangladesh|             0|              0|               3|                0|
|           Barbados|             0|              0|               1|                0|
|            Belarus|             0|              0|               0|                0|
|            Belgium|             0|              0|               0|                0|
|             Belize|             0|              0|               1|                0|
+-------------------+--------------+---------------+----------------+-----------------+
only showing top 20 rows

In [27]:
df.agg({'new_cases':'sum'}).show() showing   ## sum of all new cases in this dataframe.

+--------------+
|sum(new_cases)|
+--------------+
|       5689424|
+--------------+

In [33]:
df.agg({'new_cases':'max'}).show()

+--------------+
|max(new_cases)|
+--------------+
|         99968|
+--------------+

In [34]:
group_data=df.groupBy('location')

In [35]:
group_data

In [39]:
type(group_data)

pyspark.sql.group.GroupedData

In [40]:
group_data.agg({'new_cases','max'}).show()

AssertionError: all exprs should be Column

## importing functions from Spark

In [43]:
from pyspark.sql.functions import countDistinct,avg,stddev

In [46]:
df.select(countDistinct('location')).show()

+------------------------+
|count(DISTINCT location)|
+------------------------+
|                     208|
+------------------------+

In [47]:
df.select(avg('new_cases')).show()

+------------------+
|    avg(new_cases)|
+------------------+
|426.84552479555856|
+------------------+

In [48]:
df.select(stddev('new_cases')).show()

+----------------------+
|stddev_samp(new_cases)|
+----------------------+
|     4117.327570014036|
+----------------------+

## putting alias

In [50]:
df.select(stddev('new_cases').alias('New Cases standard Deviation')).show()

+----------------------------+
|New Cases standard Deviation|
+----------------------------+
|           4117.327570014036|
+----------------------------+

In [54]:
df.show(10)

+----------+-----------+---------+----------+-----------+------------+
|      date|   location|new_cases|new_deaths|total_cases|total_deaths|
+----------+-----------+---------+----------+-----------+------------+
|2019-12-31|Afghanistan|        0|         0|          0|           0|
|2020-01-01|Afghanistan|        0|         0|          0|           0|
|2020-01-02|Afghanistan|        0|         0|          0|           0|
|2020-01-03|Afghanistan|        0|         0|          0|           0|
|2020-01-04|Afghanistan|        0|         0|          0|           0|
|2020-01-05|Afghanistan|        0|         0|          0|           0|
|2020-01-06|Afghanistan|        0|         0|          0|           0|
|2020-01-07|Afghanistan|        0|         0|          0|           0|
|2020-01-08|Afghanistan|        0|         0|          0|           0|
|2020-01-09|Afghanistan|        0|         0|          0|           0|
+----------+-----------+---------+----------+-----------+------------+
only showing top 10 rows

In [55]:
df.orderBy('new_cases').show()

+----------+-------------+---------+----------+-----------+------------+
|      date|     location|new_cases|new_deaths|total_cases|total_deaths|
+----------+-------------+---------+----------+-----------+------------+
|2020-03-10|International|       -9|         1|        696|           7|
|2019-12-31|  Afghanistan|        0|         0|          0|           0|
|2020-01-02|  Afghanistan|        0|         0|          0|           0|
|2020-01-01|  Afghanistan|        0|         0|          0|           0|
|2020-01-06|  Afghanistan|        0|         0|          0|           0|
|2020-01-03|  Afghanistan|        0|         0|          0|           0|
|2020-01-04|  Afghanistan|        0|         0|          0|           0|
|2020-01-05|  Afghanistan|        0|         0|          0|           0|
|2020-01-14|  Afghanistan|        0|         0|          0|           0|
|2020-01-07|  Afghanistan|        0|         0|          0|           0|
|2020-01-08|  Afghanistan|        0|         0|          0|           0|
|2020-01-09|  Afghanistan|        0|         0|          0|           0|
|2020-01-10|  Afghanistan|        0|         0|          0|           0|
|2020-01-11|  Afghanistan|        0|         0|          0|           0|
|2020-01-12|  Afghanistan|        0|         0|          0|           0|
|2020-01-13|  Afghanistan|        0|         0|          0|           0|
|2020-01-15|  Afghanistan|        0|         0|          0|           0|
|2020-01-16|  Afghanistan|        0|         0|          0|           0|
|2020-01-17|  Afghanistan|        0|         0|          0|           0|
|2020-01-18|  Afghanistan|        0|         0|          0|           0|
+----------+-------------+---------+----------+-----------+------------+
only showing top 20 rows

## order by descending

In [56]:
df.orderBy(df['new_cases'].desc()).show()

+----------+--------+---------+----------+-----------+------------+
|      date|location|new_cases|new_deaths|total_cases|total_deaths|
+----------+--------+---------+----------+-----------+------------+
|2020-04-26|   World|    99968|      5929|    2844712|      201315|
|2020-04-11|   World|    89341|      7049|    1653160|      102088|
|2020-04-22|   World|    87387|      6935|    2520435|      176786|
|2020-04-10|   World|    87027|      7223|    1563819|       95039|
|2020-04-05|   World|    86484|      6093|    1174306|       64273|
|2020-04-09|   World|    84911|      6340|    1476792|       87816|
|2020-04-17|   World|    84335|      8507|    2114209|      144827|
|2020-04-19|   World|    84112|      6421|    2281632|      159511|
|2020-04-18|   World|    83311|      8263|    2197520|      153090|
|2020-04-04|   World|    81759|      6603|    1087822|       58180|
|2020-04-12|   World|    81708|      6104|    1734868|      108192|
|2020-04-16|   World|    81011|     10345|    2029874|      136320|
|2020-04-24|   World|    80073|      7428|    2668137|      190236|
|2020-04-03|   World|    77572|      4693|    1006063|       51577|
|2020-04-21|   World|    77274|      5195|    2433048|      169851|
|2020-04-02|   World|    76904|      4980|     928491|       46884|
|2020-04-25|   World|    76607|      5150|    2744744|      195386|
|2020-04-15|   World|    75224|      7118|    1948863|      125975|
|2020-04-08|   World|    74893|      7411|    1391881|       81476|
|2020-04-01|   World|    74400|      4628|     851587|       41904|
+----------+--------+---------+----------+-----------+------------+
only showing top 20 rows