In [3]:
from pyspark.sql import SparkSession

In [7]:
spark=SparkSession.builder.appName("Basics").getOrCreate()

In [9]:
input_file_path="file:///C:/Users/ckp43_000/Documents/generic-food.csv"

In [23]:
df =spark.read.csv(input_file_path,header=True)

In [24]:
df.show()

+--------------+--------------------+----------------+--------------------+
|      FOODNAME|      SCIENTIFICNAME|           GROUP|            SUBGROUP|
+--------------+--------------------+----------------+--------------------+
|      Angelica|    Angelica keiskei|Herbs and Spices|               Herbs|
| Savoy cabbage|Brassica oleracea...|      Vegetables|            Cabbages|
| Silver linden|      Tilia argentea|Herbs and Spices|               Herbs|
|          Kiwi| Actinidia chinensis|          Fruits|     Tropical fruits|
|Allium (Onion)|              Allium|      Vegetables|Onion-family vege...|
|  Garden onion|         Allium cepa|      Vegetables|Onion-family vege...|
|          Leek|       Allium porrum|      Vegetables|Onion-family vege...|
|        Garlic|      Allium sativum|Herbs and Spices|               Herbs|
|        Chives|Allium schoenoprasum|Herbs and Spices|               Herbs|
| Lemon verbena|   Aloysia triphylla|Herbs and Spices|               Herbs|
|    Cashew nut|Anacardium occide...|            Nuts|                Nuts|
|     Pineapple|      Ananas comosus|          Fruits|     Tropical fruits|
|          Dill|  Anethum graveolens|Herbs and Spices|               Herbs|
| Custard apple|   Annona reticulata|          Fruits|     Tropical fruits|
|   Wild celery|    Apium graveolens|Herbs and Spices|              Spices|
|        Peanut|    Arachis hypogaea|            Nuts|                Nuts|
|       Burdock|       Arctium lappa|      Vegetables|     Root vegetables|
|   Horseradish| Armoracia rusticana|Herbs and Spices|              Spices|
|      Tarragon|Artemisia dracunc...|Herbs and Spices|               Herbs|
|       Mugwort|  Artemisia vulgaris|Herbs and Spices|               Herbs|
+--------------+--------------------+----------------+--------------------+
only showing top 20 rows

In [16]:
df.count()

908

In [25]:
df.printSchema()

root
 |-- FOODNAME: string (nullable = true)
 |-- SCIENTIFICNAME: string (nullable = true)
 |-- GROUP: string (nullable = true)
 |-- SUBGROUP: string (nullable = true)

In [26]:
df.describe()

DataFrame[summary: string, FOODNAME: string, SCIENTIFICNAME: string, GROUP: string, SUBGROUP: string]

In [27]:
df.describe().show()

+-------+--------+--------------------+------------+-------------------+
|summary|FOODNAME|      SCIENTIFICNAME|       GROUP|           SUBGROUP|
+-------+--------+--------------------+------------+-------------------+
|  count|     907|                 900|         907|                907|
|   mean|    null|                null|        null|               null|
| stddev|    null|                null|        null|               null|
|    min| Abalone|Abelmoschus escul...|Animal foods|Alcoholic beverages|
|    max|Zwieback|  Zoarces americanus|  Vegetables|           Wrappers|
+-------+--------+--------------------+------------+-------------------+

In [29]:
input_file_path="file:///C:/Users/ckp43_000/Documents/movie_file/ratings.csv"

In [31]:
ratings_df=spark.read.csv(input_file_path)

In [35]:
ratings_df.show(10)

+---+---+---+---------+
|_c0|_c1|_c2|      _c3|
+---+---+---+---------+
|  1|  1|4.0|964982703|
|  1|  3|4.0|964981247|
|  1|  6|4.0|964982224|
|  1| 47|5.0|964983815|
|  1| 50|5.0|964982931|
|  1| 70|3.0|964982400|
|  1|101|5.0|964980868|
|  1|110|4.0|964982176|
|  1|151|5.0|964984041|
|  1|157|5.0|964984100|
+---+---+---+---------+
only showing top 10 rows

In [37]:
ratings_df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

In [ ]:
from pyspark.sql.types import FloatType

In [39]:
from pyspark.sql.types import (StructField,StringType,
                               IntegerType,StructType,FloatType)

In [40]:
data_schema=[StructField('id',IntegerType(),True),
            StructField('value',IntegerType(),True),
            StructField('rating',FloatType(),True),
            StructField('mob_no',StringType(),True)]

In [42]:
final_struc=StructType(fields=data_schema)

In [44]:
rating_df_with_schema=spark.read.csv(input_file_path,schema=final_struc)

In [45]:
rating_df_with_schema.show(5)

+---+-----+------+---------+
| id|value|rating|   mob_no|
+---+-----+------+---------+
|  1|    1|   4.0|964982703|
|  1|    3|   4.0|964981247|
|  1|    6|   4.0|964982224|
|  1|   47|   5.0|964983815|
|  1|   50|   5.0|964982931|
+---+-----+------+---------+
only showing top 5 rows

In [47]:
rating_df_with_schema.printSchema()

root
 |-- id: integer (nullable = true)
 |-- value: integer (nullable = true)
 |-- rating: float (nullable = true)
 |-- mob_no: string (nullable = true)

## Data Frame Part-2

In [48]:
rating_df_with_schema.select('mob_no')

DataFrame[mob_no: string]

In [51]:
rating_df_with_schema.select('mob_no').show(10)

+---------+
|   mob_no|
+---------+
|964982703|
|964981247|
|964982224|
|964983815|
|964982931|
|964982400|
|964980868|
|964982176|
|964984041|
|964984100|
+---------+
only showing top 10 rows

In [52]:
rating_df_with_schema.head(2)

[Row(id=1, value=1, rating=4.0, mob_no='964982703'),
 Row(id=1, value=3, rating=4.0, mob_no='964981247')]

In [53]:
type(rating_df_with_schema.head(2))

list

In [54]:
rating_df_with_schema.head(2)[0]

Row(id=1, value=1, rating=4.0, mob_no='964982703')

In [55]:
rating_df_with_schema.head(2)[1]

Row(id=1, value=3, rating=4.0, mob_no='964981247')

In [56]:
type(rating_df_with_schema.head(2)[1])

pyspark.sql.types.Row

In [57]:
rating_df_with_schema.select(['id','mob_no','value'])

DataFrame[id: int, mob_no: string, value: int]

In [58]:
rating_df_with_schema.select(['id','mob_no','value']).show(5)

+---+---------+-----+
| id|   mob_no|value|
+---+---------+-----+
|  1|964982703|    1|
|  1|964981247|    3|
|  1|964982224|    6|
|  1|964983815|   47|
|  1|964982931|   50|
+---+---------+-----+
only showing top 5 rows

In [66]:
rating_df_with_schema.withColumn('new_id',rating_df_with_schema['id']).show(5)  ###  adding new column in datra frame

+---+-----+------+---------+------+
| id|value|rating|   mob_no|new_id|
+---+-----+------+---------+------+
|  1|    1|   4.0|964982703|     1|
|  1|    3|   4.0|964981247|     1|
|  1|    6|   4.0|964982224|     1|
|  1|   47|   5.0|964983815|     1|
|  1|   50|   5.0|964982931|     1|
+---+-----+------+---------+------+
only showing top 5 rows

In [59]:
rating_df_with_schema.withColumn('new_id',rating_df_with_schema['id']*2)

DataFrame[id: int, value: int, rating: float, mob_no: string, new_id: int]

In [63]:
rating_df_with_schema.withColumn('new_id',rating_df_with_schema['id']*2).head(5)

[Row(id=1, value=1, rating=4.0, mob_no='964982703', new_id=2),
 Row(id=1, value=3, rating=4.0, mob_no='964981247', new_id=2),
 Row(id=1, value=6, rating=4.0, mob_no='964982224', new_id=2),
 Row(id=1, value=47, rating=5.0, mob_no='964983815', new_id=2),
 Row(id=1, value=50, rating=5.0, mob_no='964982931', new_id=2)]

In [65]:
rating_df_with_schema.withColumn('new_id',rating_df_with_schema['id']*2).show(5)

+---+-----+------+---------+------+
| id|value|rating|   mob_no|new_id|
+---+-----+------+---------+------+
|  1|    1|   4.0|964982703|     2|
|  1|    3|   4.0|964981247|     2|
|  1|    6|   4.0|964982224|     2|
|  1|   47|   5.0|964983815|     2|
|  1|   50|   5.0|964982931|     2|
+---+-----+------+---------+------+
only showing top 5 rows

##  Renaming an existing column

In [70]:
rating_df_with_schema.withColumnRenamed('id','renamed_id').show(5)

+----------+-----+------+---------+
|renamed_id|value|rating|   mob_no|
+----------+-----+------+---------+
|         1|    1|   4.0|964982703|
|         1|    3|   4.0|964981247|
|         1|    6|   4.0|964982224|
|         1|   47|   5.0|964983815|
|         1|   50|   5.0|964982931|
+----------+-----+------+---------+
only showing top 5 rows

## register the data frame as a sql temporary view

In [71]:
rating_df_with_schema.createOrReplaceTempView("rating_table")

In [72]:
results=spark.sql("select * from rating_table ")

In [73]:
results.show(5)

+---+-----+------+---------+
| id|value|rating|   mob_no|
+---+-----+------+---------+
|  1|    1|   4.0|964982703|
|  1|    3|   4.0|964981247|
|  1|    6|   4.0|964982224|
|  1|   47|   5.0|964983815|
|  1|   50|   5.0|964982931|
+---+-----+------+---------+
only showing top 5 rows

In [74]:
type(results)

pyspark.sql.dataframe.DataFrame

In [75]:
spark.sql("select * from rating_table").show(5)

+---+-----+------+---------+
| id|value|rating|   mob_no|
+---+-----+------+---------+
|  1|    1|   4.0|964982703|
|  1|    3|   4.0|964981247|
|  1|    6|   4.0|964982224|
|  1|   47|   5.0|964983815|
|  1|   50|   5.0|964982931|
+---+-----+------+---------+
only showing top 5 rows